@page "/"
@using MatBlazor
<h1>Hello, world!</h1>

@*Uncomment this line, and the hot reload will crash*@
@*<MatButton>Test</MatButton>*@

Welcome to your new app.
<SurveyPrompt Title="How is Blazor working for you?" />
